* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #f5ffff url("../img/nature.jpg") fixed;
  text-align: center;
  font-family: Arial, sans-serif;
}

button {
  display: inline-block;
}

.app-wrapper {
  margin: auto;
  width: 1024px;
  background: #f5ffff;
  position: relative;
  min-height: 100vh;
}